<script setup>
import { ref } from 'vue'


const box1Active = ref(false)
const box2Active = ref(false)
const box3Active = ref(false)
const box4Active = ref(false)
const box5Active = ref(false)
const box6Active = ref(false)
const box7Active = ref(false)
const box8Active = ref(false)
const box9Active = ref(false)
const box10Active = ref(false)
const box11Active = ref(false)
const box12Active = ref(false)
const box13Active = ref(false)
const box14Active = ref(false)
const box15Active = ref(false)
const box16Active = ref(false)

const tickBox1 = () => {
 if (box1Active.value) {
  box1Active.value = false
  return
 } 
 if (!box1Active.value) {
  box1Active.value = true
  return
 }
}

const tickBox2 = () => {
 if (box2Active.value) {
  box2Active.value = false
  return
 } 
 if (!box2Active.value) {
  box2Active.value = true
  return
 }
}

const tickBox3 = () => {
 if (box3Active.value) {
  box3Active.value = false
  return
 } 
 if (!box3Active.value) {
  box3Active.value = true
  return
 }
}

const tickBox4 = () => {
 if (box4Active.value) {
  box4Active.value = false
  return
 } 
 if (!box4Active.value) {
  box4Active.value = true
  return
 }
}

const tickBox5 = () => {
 if (box5Active.value) {
  box5Active.value = false
  return
 } 
 if (!box5Active.value) {
  box5Active.value = true
  return
 }
}

const tickBox6 = () => {
 if (box6Active.value) {
  box6Active.value = false
  return
 } 
 if (!box6Active.value) {
  box6Active.value = true
  return
 }
}

const tickBox7 = () => {
 if (box7Active.value) {
  box7Active.value = false
  return
 } 
 if (!box7Active.value) {
  box7Active.value = true
  return
 }
}
const tickBox8 = () => {
 if (box8Active.value) {
  box8Active.value = false
  return
 } 
 if (!box8Active.value) {
  box8Active.value = true
  return
 }
}
const tickBox9 = () => {
 if (box9Active.value) {
  box9Active.value = false
  return
 } 
 if (!box9Active.value) {
  box9Active.value = true
  return
 }
}
const tickBox10 = () => {
 if (box10Active.value) {
  box10Active.value = false
  return
 } 
 if (!box10Active.value) {
  box10Active.value = true
  return
 }
}
const tickBox11 = () => {
 if (box11Active.value) {
  box11Active.value = false
  return
 } 
 if (!box11Active.value) {
  box11Active.value = true
  return
 }
}
const tickBox12 = () => {
 if (box12Active.value) {
  box12Active.value = false
  return
 } 
 if (!box12Active.value) {
  box12Active.value = true
  return
 }
}
const tickBox13 = () => {
 if (box13Active.value) {
  box13Active.value = false
  return
 } 
 if (!box13Active.value) {
  box13Active.value = true
  return
 }
}
const tickBox14 = () => {
 if (box14Active.value) {
  box14Active.value = false
  return
 } 
 if (!box14Active.value) {
  box14Active.value = true
  return
 }
}
const tickBox15 = () => {
 if (box15Active.value) {
  box15Active.value = false
  return
 } 
 if (!box15Active.value) {
  box15Active.value = true
  return
 }
}
const tickBox16 = () => {
 if (box16Active.value) {
  box16Active.value = false
  return
 } 
 if (!box16Active.value) {
  box16Active.value = true
  return
 }
}


</script>


<template>

<h1 class="bigText">Crawl bingo!🏊</h1>

  <div class="PARENT">
    <h3>Get 4 in a row for eternal glory. 🏆</h3>

    <div class="boxParent">

      <div class="bingoBox" 
      @click="tickBox1" 
      :style="{
        backgroundColor: box1Active ? 'grey' : 'white'
      }"
     >
          2 bar's
      </div>

      <div class="bingoBox" @click="tickBox2" 
      :style="{
        backgroundColor: box2Active ? 'grey' : 'white'
      }">
          puke
      </div>
      
      <div class="bingoBox" @click="tickBox3" 
      :style="{
        backgroundColor: box3Active ? 'grey' : 'white'
      }">
        drunk philosophy
      </div>

      <div class="bingoBox" @click="tickBox4" 
      :style="{
        backgroundColor: box4Active ? 'grey' : 'white'
      }">
          pornstar martini
      </div>

      <div class="bingoBox" @click="tickBox5" 
      :style="{
        backgroundColor: box5Active ? 'grey' : 'white'
      }">
          wine
      </div>

      <div class="bingoBox" @click="tickBox6" 
      :style="{
        backgroundColor: box6Active ? 'grey' : 'white'
      }">
          4 bar's
      </div>

      <div class="bingoBox" @click="tickBox7" 
      :style="{
        backgroundColor: box7Active ? 'grey' : 'white'
      }">
          take 2 beers
      </div> 

      <div class="bingoBox" @click="tickBox8" 
      :style="{
        backgroundColor: box8Active ? 'grey' : 'white'
      }">
          shot
      </div>

      <div class="bingoBox" @click="tickBox9" 
      :style="{
        backgroundColor: box9Active ? 'grey' : 'white'
      }">
          free drink from stanger
      </div>

      <div class="bingoBox" @click="tickBox10" 
      :style="{
        backgroundColor: box10Active ? 'grey' : 'white'
      }">
          beer for friend
      </div>

      <div class="bingoBox" @click="tickBox11" 
      :style="{
        backgroundColor: box11Active ? 'grey' : 'white'
      }">
         8 bar's
      </div>

      <div class="bingoBox" @click="tickBox12" 
      :style="{
        backgroundColor: box12Active ? 'grey' : 'white'
      }">
          chug a beer
      </div>

      <div class="bingoBox" @click="tickBox13" 
      :style="{
        backgroundColor: box13Active ? 'grey' : 'white'
      }">
          spilled drink
      </div>

      <div class="bingoBox" @click="tickBox14" 
      :style="{
        backgroundColor: box14Active ? 'grey' : 'white'
      }">
          survive 3 hours
      </div>

      <div class="bingoBox" @click="tickBox15" 
      :style="{
        backgroundColor: box15Active ? 'grey' : 'white'
      }">
          survive 6 hours
      </div>

      <div class="bingoBox" @click="tickBox16" 
      :style="{
        backgroundColor: box16Active ? 'grey' : 'white'
      }">
          16 bar's
      </div>

    </div>

  </div>



</template>


<style scoped>
.PARENT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxParent {
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bingoBox:hover {
  cursor: pointer;
}

.bingoBox {
  width: 80px;
  height: 80px;
  margin: 3px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.bigText {
  margin-top: 0;
}

</style>